h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background: #eee; }

body,
p,
li,
ul,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.header {
  background: #2c2c2c;
  border-radius: 0 0 30px 30px; }
  .header .block-container {
    padding-top: 42px;
    padding-left: 14vw;
    padding-right: 14vw; }
    @media screen and (max-width: 1024px) {
      .header .block-container {
        padding-left: 100px;
        padding-right: 100px; } }
    .header .block-container .top-panel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 48px; }
      .header .block-container .top-panel .logo-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .header .block-container .top-panel .logo-nav__logo {
          line-height: 30px;
          margin-bottom: -4px; }
          .header .block-container .top-panel .logo-nav__logo img {
            width: 45px;
            height: 26px;
            margin-right: 78px;
            -webkit-transition: all 300ms;
            transition: all 300ms; }
            .header .block-container .top-panel .logo-nav__logo img:hover {
              -webkit-transform: scale(1.05);
                      transform: scale(1.05);
              opacity: 0.8; }
        .header .block-container .top-panel .logo-nav .hamburger {
          position: absolute;
          top: 27px;
          right: 100px; }
          .header .block-container .top-panel .logo-nav .hamburger__check {
            opacity: 0; }
          .header .block-container .top-panel .logo-nav .hamburger-logo {
            cursor: pointer; }
            .header .block-container .top-panel .logo-nav .hamburger-logo span {
              display: none; }
              @media screen and (max-width: 1024px) {
                .header .block-container .top-panel .logo-nav .hamburger-logo span {
                  display: block;
                  width: 25px;
                  height: 4px;
                  margin-bottom: 5px;
                  position: relative;
                  background: #cdcdcd;
                  border-radius: 3px;
                  z-index: 3;
                  -webkit-transform-origin: 4px 0;
                          transform-origin: 4px 0; }
                  .header .block-container .top-panel .logo-nav .hamburger-logo span:first-child {
                    -webkit-transform-origin: 0% 0%;
                            transform-origin: 0% 0%; }
                  .header .block-container .top-panel .logo-nav .hamburger-logo span:nth-last-child(2) {
                    -webkit-transform-origin: 0% 100%;
                            transform-origin: 0% 100%; } }
        .header .block-container .top-panel .logo-nav .nav__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          line-height: 30px; }
          @media screen and (max-width: 1024px) {
            .header .block-container .top-panel .logo-nav .nav__list {
              display: none; } }
        .header .block-container .top-panel .logo-nav .nav__item {
          margin-right: 4vw; }
        .header .block-container .top-panel .logo-nav .nav__link {
          font-family: Poppins, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 150%;
          letter-spacing: 3px;
          color: #fff;
          text-decoration: none;
          margin-bottom: 2px;
          -webkit-transition: opacity 300ms;
          transition: opacity 300ms; }
          .header .block-container .top-panel .logo-nav .nav__link:hover {
            opacity: 0.8; }
          .header .block-container .top-panel .logo-nav .nav__link::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #2060f6;
            border-radius: 50%;
            opacity: 0;
            position: relative;
            top: -5px;
            -webkit-transition: all 500ms;
            transition: all 500ms; }
          .header .block-container .top-panel .logo-nav .nav__link:hover::after {
            opacity: 1;
            width: 100%;
            top: 0;
            -webkit-transition: all 500ms;
            transition: all 500ms; }
        .header .block-container .top-panel .logo-nav .nav .hire {
          margin-right: 0; }
          @media screen and (min-width: 1024px) {
            .header .block-container .top-panel .logo-nav .nav .hire {
              margin-left: 8vw; } }
      .header .block-container .top-panel .hamburger-checkbox {
        display: none; }
        @media screen and (max-width: 1024px) {
          .header .block-container .top-panel .hamburger-checkbox:checked + .nav__list {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #2060f6;
            padding-top: 100px;
            padding-left: 40vw;
            z-index: 2; }
            .header .block-container .top-panel .hamburger-checkbox:checked + .nav__list .nav__link {
              font-size: 22px;
              line-height: 60px; } }
    .header .block-container .header-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header .block-container .header-info .text-side {
        -ms-flex-item-align: center;
            align-self: center;
        text-align: center;
        -webkit-box-flex: 1;
            -ms-flex: 1 2 auto;
                flex: 1 2 auto; }
        .header .block-container .header-info .text-side__heading {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #253757;
          font-size: 64px;
          line-height: 68px;
          letter-spacing: -2px;
          color: #fff;
          padding-bottom: 32px; }
        .header .block-container .header-info .text-side__subheading {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #6c788b;
          font-weight: normal;
          font-size: 18px;
          color: #fff;
          padding-bottom: 83px; }
        .header .block-container .header-info .text-side__link {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #253757;
          font-size: 15px;
          display: block;
          width: 226px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: white;
          background: #2060f6;
          border-radius: 8px;
          text-decoration: none;
          margin: 0 auto;
          margin-bottom: 83px;
          -webkit-transition: background 300ms;
          transition: background 300ms; }
          .header .block-container .header-info .text-side__link:hover {
            background: #144ed5; }
      .header .block-container .header-info__img-side {
        -webkit-box-flex: 2;
            -ms-flex: 2 1 600px;
                flex: 2 1 600px;
        background-image: url(../images/upd/header-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-width: 43vw;
        position: relative;
        right: -14vw;
        border-radius: 30px 0; }
        @media screen and (max-width: 1024px) {
          .header .block-container .header-info__img-side {
            right: 0;
            max-width: 100%; } }
        .header .block-container .header-info__img-side .img-side {
          position: absolute;
          bottom: 48px;
          left: 144px; }
          .header .block-container .header-info__img-side .img-side .arrows {
            position: absolute;
            left: -92px;
            top: 12px; }
            .header .block-container .header-info__img-side .img-side .arrows .arrow {
              display: inline-block;
              width: 32px;
              height: 32px;
              line-height: 32px;
              background-color: #fff;
              border-radius: 50%;
              text-align: center;
              -webkit-transition: background-color 200ms ease-in-out;
              transition: background-color 200ms ease-in-out; }
              .header .block-container .header-info__img-side .img-side .arrows .arrow:hover {
                background-color: rgba(32, 96, 246, 0.2); }
              .header .block-container .header-info__img-side .img-side .arrows .arrow .arrow-img {
                width: 5.5px;
                height: 9px; }
          .header .block-container .header-info__img-side .img-side__heading {
            font-family: Poppins, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 3px;
            color: #fff;
            text-decoration: none;
            margin-bottom: 2px; }
          .header .block-container .header-info__img-side .img-side__subheading {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            color: #6c788b;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #fff;
            max-width: 264px; }
      @media screen and (max-width: 1024px) {
        .header .block-container .header-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }

.main-container .about-info {
  margin: 148px 14vw; }
  .main-container .about-info__header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 52px; }
  .main-container .about-info__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #6c788b;
    font-size: 24px; }

.main-container .expertise {
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  padding: 128px 14vw 134px; }
  .main-container .expertise__heading {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 52px;
    text-align: center;
    margin-bottom: 64px; }
  .main-container .expertise__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1024px) {
      .main-container .expertise__services {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .main-container .expertise__services .service {
      padding: 10px;
      width: 264px;
      border-radius: 10px;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .main-container .expertise__services .service:hover {
        background-color: rgba(213, 213, 213, 0.2); }
        .main-container .expertise__services .service:hover img {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      @media screen and (max-width: 1024px) {
        .main-container .expertise__services .service {
          padding: 20px 0; } }
      .main-container .expertise__services .service__pict {
        text-align: center;
        overflow: hidden;
        margin-bottom: 40px; }
        .main-container .expertise__services .service__pict .try {
          display: inline-block;
          overflow: hidden;
          border-radius: 16px;
          height: 166px; }
          .main-container .expertise__services .service__pict .try img {
            border-radius: 16px;
            -webkit-transition: 300ms;
            transition: 300ms; }
      .main-container .expertise__services .service__header {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        color: #253757;
        font-size: 20px;
        text-align: center;
        margin-bottom: 16px; }
      .main-container .expertise__services .service__text {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        color: #6c788b;
        font-size: 14px;
        text-align: center; }

.main-container .process {
  margin: 0 auto;
  padding: 0 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1024px) {
    .main-container .process {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .main-container .process .info {
    max-width: 23vw; }
    @media screen and (max-width: 1024px) {
      .main-container .process .info {
        max-width: 100vw; } }
    .main-container .process .info__subheader {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #253757;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      color: #c0cdd7;
      margin-top: 251px;
      margin-bottom: 16px; }
      @media screen and (max-width: 1024px) {
        .main-container .process .info__subheader {
          margin-top: 100px; } }
    .main-container .process .info__main-header {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #253757;
      font-size: 32px;
      line-height: 130%;
      margin-bottom: 24px; }
    .main-container .process .info__text {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #6c788b;
      font-size: 14px; }
      .main-container .process .info__text_top {
        margin-bottom: 1em; }
      .main-container .process .info__text:last-child {
        margin-bottom: 250px; }
        @media screen and (max-width: 1024px) {
          .main-container .process .info__text:last-child {
            margin-bottom: 100px; } }
  .main-container .process__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .main-container .process__blocks .blocks {
      width: 264px; }
      .main-container .process__blocks .blocks_shifted {
        margin-right: 30px;
        position: relative;
        top: 132px; }
      .main-container .process__blocks .blocks .block {
        height: 264px;
        background-color: #fff;
        border-radius: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: relative;
        z-index: 99; }
        .main-container .process__blocks .blocks .block:last-child {
          margin-top: 30px; }
        .main-container .process__blocks .blocks .block a {
          display: block;
          padding: 32px;
          height: 100%; }
        .main-container .process__blocks .blocks .block .arrow-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #2060f6;
          line-height: 45px;
          text-align: center;
          display: inline-block;
          margin-right: 16px;
          -webkit-transition: -webkit-transform 300ms;
          transition: -webkit-transform 300ms;
          transition: transform 300ms;
          transition: transform 300ms, -webkit-transform 300ms; }
          .main-container .process__blocks .blocks .block .arrow-img__img {
            width: 16px;
            height: 16px; }
        .main-container .process__blocks .blocks .block:hover .arrow-img {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .main-container .process__blocks .blocks .block__number {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #253757;
          font-size: 13px;
          line-height: 24px;
          color: #2060f6;
          padding: 2px 12px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 46px;
          height: 24px;
          background-color: #eee;
          border-radius: 23px;
          margin-bottom: 24px; }
        .main-container .process__blocks .blocks .block__text {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #6c788b;
          font-size: 13px;
          margin-bottom: 32px; }
        .main-container .process__blocks .blocks .block__link {
          position: absolute;
          bottom: 32px;
          height: 40px;
          line-height: 40px;
          width: 159px;
          border-radius: 20px; }
          .main-container .process__blocks .blocks .block__link p {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            color: #253757;
            font-size: 15px;
            position: relative;
            bottom: 2px;
            display: inline-block; }

.main-container .approach-outter {
  padding-left: 121px; }
  .main-container .approach-outter .approach-inner {
    background: #2c2c2c;
    border-radius: 30px 0 0 30px;
    padding: 204px 0 0 204px;
    position: relative; }

/*# sourceMappingURL=main.css.map */
